<!-- Header-->
<section id="todos" class=<%= list_class(@list) %>>
  <header>
    <h2><%= @list[:name]%></h2>
    <ul>
      <li>
        <form action="/lists/<%= params[:listid] %>/todos/complete_all" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
      <li>
        <a href="/lists/<%= params[:listid] %>/edit" class="edit">Edit list</a>
      </li>
    </ul>
  </header>

<!-- List of Todos -->
  <ul>
    <% sort_todos(@list[:todos]) do |todo| %>
    <li class="<%= todo_class(todo) %>">
      <h3><%= todo[:name] %></h3>
      <form action="/lists/<%= params[:listid] %>/todos/<%= todo[:id] %>/complete" method="post" class="check">
        <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />
        <button type="submit">Complete</button>
      </form>
      <form action="/lists/<%= params[:listid] %>/todos/<%= todo[:id] %>/delete" method="post" class="delete">
        <button type="submit">Delete</button>
      </form>
    </li>
    <% end %>
  </ul>
</section>

<!-- Nav Button -->
<% content_for :nav_link do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>

<!-- Add new todos functionality -->
<form action="/lists/<%= params[:listid] %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>